database/__pycache__/__init__.cpython-37.pyc
database/__pycache__/repository.cpython-37.pyc
.vscode/settings.json
database/01_CREATE_old.sql
exceptions/__pycache__/__init__.cpython-37.pyc
exceptions/__pycache__/db_exceptions.cpython-37.pyc
exceptions/__pycache__/repository_exception.cpython-37.pyc
exceptions/__pycache__/repository_exceptions.cpython-37.pyc
exceptions/__pycache__/userexceptions.cpython-37.pyc
exceptions/__pycache__/vk_bot_exception.cpython-37.pyc
exceptions/__pycache__/vk_bot_exceptions.cpython-37.pyc
repository/__pycache__/__init__.cpython-37.pyc
repository/__pycache__/repository.cpython-37.pyc
resources/API_ID.txt
resources/vk.info
resources/vkinder_key.ini
test/__pycache__/test_db_repository.cpython-37-pytest-6.1.2.pyc
test/__pycache__/test_repository.cpython-37-pytest-6.1.2.pyc
test/__pycache__/test_vk_bot.cpython-37-pytest-6.1.2.pyc
resources/vktoken.ini
vkbot/__pycache__/__init__.cpython-37.pyc
vkbot/__pycache__/vk_bot.cpython-37.pyc
basic_code.py
resources/vkuser_key.ini
